.text-item {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.header {
  position: relative;
  width: 100%;
  min-height: 20px;
  height: 20px;
  border-bottom: 1px solid #000000;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  text-align: center;
}
.content p {
  width: 50%;
}

.content input {
  width: 50%;
}

.remove {
  position: absolute;
  right: 2px;
  top: 0;
  cursor: pointer;
}
