.Stage {
  position: relative;
  width: 70%;
  height: 100%;
  min-height: 400px;
  background-color: cadetblue;
  border-left: 1px solid #000000;
}

.Stage .react-resizable-handle {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  display: table;
  background: url("./../resources/resize_square_button.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.layout.react-grid-item {
  background-color: #ffffff;
}
